*{
    margin:0;
    padding:0;
}

a{

    text-decoration: none;
    
}
body{
    font-family: 'Work Sans', sans-serif;
    width:100vw;
    height:100vh;
}
nav{
    display: flex;
    background-color: white;
    justify-content: space-between;
    color:black;
    font-weight: 500;
    font-size:0.8em; 
    
}

nav a{
    color:black;
}

.main-nav, .logo-space{
    display: flex;
}

.logo-space{
    justify-content: space-evenly;
    padding-left: 2em;
}

img{
    width:100%;
}

.logo{
    margin-right: 2em;
    margin-left:4em;
    border-radius: 50%;
    background-color: black;
    color:white;
    height:30px;
    width:30px;
    text-align: center;
    position: relative;
    top:1.4em;
    left:1em;

}

.logo-text{
    position: absolute;
    top: -1.4em;
    right:.8em;
    bottom:2em;
    font-weight: 800;
}

.buy-sell{
    margin-left:6em;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.buy-sell span{
    margin-right: 3em;

}

.buy-sell span i{
    position: relative;
    font-size: 1.5em;
    top:.18em;
    right:0.9em;
    color:grey;
}

.dropdown-content li a{
    color:black;
    font-size:.8em;
}

